.bar, .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar_btn, .filler {
    float: left;
}

.navbar li:nth-last-child(-n+2) {
    float: right;
}

.navbar li:nth-last-child(-n+2) a {
    padding: 4px 6px;
}

.navbar li:nth-last-child(-n+2) a img {
    width: 38px;
}


.enlarged_text .navbar li:nth-last-child(-n+2) a img {
    height: 48px;
    width: 48px;
}


.navbar .active_btn a {
    background-color: #aa2b2b;
}

.navbar_btn a, .filler a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbar_btn a:hover {
    background-color: #aa2b2b;
}


.navbar_btn a:active {
    background-color: #e26464;
}


.toggleDarkModeImg {
    content: url('../img/light_mode.png');
}


.dark_mode .toggleDarkModeImg {
    content: url('../img/dark_mode.png');
}


.enlargeTextImg {
    content: url('../img/enlarge_text.png');
}


.enlarged_text .enlargeTextImg {
    content: url('../img/shrink_text.png');
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.dark_mode  {
    background-color: black;
}

.dark_mode h1, .dark_mode p, .dark_mode label, .dark_mode li,
.dark_mode th {
    color: white;
}

.dark_mode textarea {
    color: white;
    background-color: rgb(75, 75, 75);
    border-color: white;
}


.enlarged_text h1 {
    font-size: 4em;
}


.enlarged_text p, .enlarged_text label, .enlarged_text input,
.enlarged_text button, .enlarged_text li, .enlarged_text td,
.enlarged_text textarea {
    font-size: xx-large;
}